{% extends "base.html" %}
{% block conteudo %}
    <h1>Tabela de valores</h1>
    <h2>Por região</h2>
        <h3>
            Buço 35 <br>
            Axila 50 <br>
            Cantinho completo 80 <br>
            Meia perna 80 <br>
            Perna completa 100 <br>
            Faixa da barba 50 <br>
            Barba completa 80 <br>
            Abdomen completo 100 <br>
            Costas completa 100 <br>
        </h3>
    <h2>Combos</h2>
        <h3>
            Axila + virilha = buço 120 <br>
            Axila + virilha + meia perna = buço 160 <br>
            Axila + virilha + perna completo = buço 180 <br>
        </h3>

{% endblock %}