{% extends "base.html" %}
{% block conteudo %}

{% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <div>
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <form action="/registro" method="post">
        Telefone: <input type="text" name="telefone"><br/>
        Nome: <input type="text" name="nome"><br/>
        Email: <input type="text" name="email"><br/>
        Senha: <input type="text" name="senha"><br/>
        Endereço: <input type="text" name="endereco"><br/>
        <button type="submit">Registrar</button>
    </form>
    
{% endblock %}